# ===================================================================
#                   TRADE FORGE - ИНФРАСТРУКТУРА
# ===================================================================
#
# Запуск:    docker-compose -f docker-compose.infra.yml -p infra up --build -d
# Остановка: docker-compose -f docker-compose.infra.yml down
#
# ===================================================================

services:
  postgres:
    image: postgres:16
    restart: unless-stopped
    ports:
      - "25432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready", "-U", "${POSTGRES_USER}", "-d", "${POSTGRES_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - pgdata:/var/lib/postgresql/data/pgdata
    env_file: ./.env
    networks:
      - shared_network

  clickhouse:
    image: clickhouse/clickhouse-server:24.8
    container_name: clickhouse
    restart: unless-stopped
    ports:
      - "28123:8123"
      - "29003:9000"
    volumes:
      - clickhouse_data:/var/lib/clickhouse
      - ./infra/clickhouse_merge_tree.xml:/etc/clickhouse-server/config.d/merge_tree.xml
      - ./infra/clickhouse_profiles.xml:/etc/clickhouse-server/users.d/profiles.xml
    healthcheck:
      test: ["CMD", "clickhouse-client", "--query", "SELECT 1"]
      interval: 30s
      timeout: 10s
      retries: 5
    env_file: ./.env
    networks:
      - shared_network

  redis:
    image: redis:7.4
    container_name: redis
    restart: unless-stopped
    ports:
      - "26379:6379"
    volumes:
      - redis_data:/data
    env_file: ./.env
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}", "--save", "30", "1", "--loglevel", "warning"]
    networks:
      - shared_network

  redisinsight:
    image: redis/redisinsight:latest
    restart: unless-stopped
    ports:
      - "25540:5540"
    depends_on:
      - redis
    networks:
      - shared_network
    volumes:
      - redisinsight_data:/db

  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    container_name: zookeeper
    restart: unless-stopped
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    volumes:
      - zookeeper_data:/var/lib/zookeeper/data
      - zookeeper_log:/var/lib/zookeeper/log
    networks:
      - shared_network

  kafka:
    image: confluentinc/cp-kafka:latest
    container_name: kafka
    restart: unless-stopped
    depends_on:
      - zookeeper
    ports:
      - "29093:9093"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: INTERNAL://0.0.0.0:9092,EXTERNAL://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka:9092,EXTERNAL://localhost:29093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    volumes:
      - kafka_data:/var/lib/kafka/data
    networks:
      - shared_network

  redpanda-console:
    image: redpandadata/console:latest
    container_name: redpanda-console
    restart: unless-stopped
    ports:
      - "29094:8080"
    environment:
      KAFKA_BROKERS: kafka:9092
    depends_on:
      - kafka
    networks:
      - shared_network

  migrator:
    build:
      context: ./migrator
    container_name: migrator
    environment:
      - MIGRATE=enabled
    env_file: ./.env
    networks:
      - shared_network

volumes:
  pgdata:
  clickhouse_data:
  redis_data:
  zookeeper_data:
  zookeeper_log:
  kafka_data:
  redisinsight_data:

networks:
  shared_network:
    external: true
